/*
	
	Name: Corporex Documentation
	Author: Storm_&_Rain
	
	Date: February 11, 2018
	Last Updated: April 02, 2018

 */
body {
  font-family: 'open sans', sans-serif;
}
img {
  max-width: 100%;
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
aside {
  color: #fff;
}
aside .doc-title {
  color: #fff;
}
aside .doc-title:hover {
  text-decoration: none;
  color: #ff5134;
}
aside .doc-title h1 {
  font-size: 21px;
  padding-left: 2em;
  margin-top: .5em;
  text-transform: uppercase;
}
aside .doc-title h1 small {
  display: block;
  text-transform: capitalize;
  margin-top: .5em;
}
aside div {
  position: fixed;
  background: #233295;
  width: 20em;
}
aside div ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin-top: 2em;
}
aside div ul li {
  border-bottom: 1px solid #4a5cd4;
  padding: .5em 0;
}
aside div ul li:last-child {
  border-bottom: 0;
}
aside div ul li a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
aside div ul li a:hover {
  color: #ff5134;
  text-decoration: none;
}
.content > div {
  min-height: 500px;
  background: #f5f5f5;
  position: relative;
}
.content > div article {
  padding: 3em;
}
.content > div.introduction article {
  padding-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content .introduction h1 {
  margin-bottom: 1em;
}
.content .introduction h1 span {
  text-transform: uppercase;
}
.content .hero-section img {
  margin-bottom: 5em;
}
.content .cta p span {
  background: #4a5cd4;
  padding: .1em .5em;
}
